body {
    background-color: #F8F8FF;
}

.dropper {
    -webkit-box-shadow: 7px 10px 32px -4px rgba(0,0,0,0.3);
    -moz-box-shadow: 7px 10px 32px -4px rgba(0,0,0,0.3);
    box-shadow: 7px 10px 32px -4px rgba(0,0,0,0.3);
    border: solid gray 1px;
}